#statement
{
    font-size:16px;
    text-align: center;
    margin: auto 0px;
    border: 1px solid #bbbbbb;
    padding: 5px 15px 0px;
    line-height:20px;
}

#pageContent
{
    border-top:0px;
}

#statement a
{
    color: blue;
    font-weight: bold;
    text-decoration: none;
}

#statement a:hover
{
    /* font-weight:bold; */
    color: purple;
}