table
{
    margin:auto;
    width:100%;
    max-width: 600px;
    min-width: 300px;
    border-collapse: collapse;
}

th, td
{
    padding: 5px 5px;
    text-align: left;
}

td
{
    border-top: 1px solid black;
}

th
{
    text-transform: uppercase;
    border-bottom: 2px solid #000000;
}