# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\joeki\OneDrive - Sheffield Hallam University\Algorithms and Data Structures\Week 8 Tree Data Structure\Tutorial8_BinaryTree\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
