# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\joeki\OneDrive - Sheffield Hallam University\Algorithms and Data Structures\Week 7 Hash Tables and Doubly Linked Lists\Tutorial_7_HashTable\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
