# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\joeki\OneDrive - Sheffield Hallam University\Introduction to Compilers\Week 3 DOM Parsers\DOM Parsers\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
