# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\joeki\OneDrive - Sheffield Hallam University\_Fundamentals of Programming Languages\Semester 2\DOMParsing\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
